In [3]:
DATA_DIR = '../data/'
DATA_RAW = '../data/raw/temp_raw.csv'
DATA_TRAIN_RAW = '../data/raw/train.csv'
DATA_TEST_RAW = '../tests/test.csv'

# Import Libraries and Module

In [11]:
import pandas as pd

# Split

In [12]:
data = pd.read_csv(DATA_RAW)

In [14]:
3650-365*2

2920

In [18]:
train = data[:2920]
test = data[2921:]

In [23]:
train.to_csv(DATA_TRAIN_RAW, index=False)
test.to_csv(DATA_TEST_RAW, index=False)

In [5]:
import pandas as pd
pd.read_csv(DATA_TEST_RAW)

           Date  Daily minimum temperatures
0      1/2/1989                        17.4
1      1/3/1989                        18.5
2      1/4/1989                        16.8
3      1/5/1989                        11.5
4      1/6/1989                         9.5
..          ...                         ...
724  12/27/1990                        14.0
725  12/28/1990                        13.6
726  12/29/1990                        13.5
727  12/30/1990                        15.7
728  12/31/1990                        13.0

[729 rows x 2 columns]

In [7]:
DATA_TRAIN_PROCESSED = '../data/prepocessed/train.csv'

In [8]:
data = pd.read_csv(DATA_TRAIN_PROCESSED)
data_copy = data.copy()
data_copy["Date"] = pd.to_datetime(data_copy["Date"])
data_copy.set_index("Date", inplace=True)
data_copy = data_copy.asfreq("D")

In [9]:
split_idx = int(len(data_copy) * 0.8)
train_data = data_copy.iloc[:split_idx]
val_data = data_copy.iloc[split_idx:]
length_pred = len(val_data)

In [10]:
val_data

            temperatures
Date
1987-05-26           9.3
1987-05-27           5.0
1987-05-28           4.3
1987-05-29           6.4
1987-05-30          10.8
...                  ...
1988-12-26           9.5
1988-12-27          12.9
1988-12-28          12.9
1988-12-29          14.8
1988-12-30          14.1

[585 rows x 1 columns]

In [12]:
test_data = pd.read_csv("../tests/test.csv")
test_data["Date"] = pd.to_datetime(test_data["Date"])
test_data.set_index("Date", inplace=True)
test_data = test_data.asfreq("D")
test_data

            temperatures
Date
1989-01-02          17.4
1989-01-03          18.5
1989-01-04          16.8
1989-01-05          11.5
1989-01-06           9.5
...                  ...
1990-12-27          14.0
1990-12-28          13.6
1990-12-29          13.5
1990-12-30          15.7
1990-12-31          13.0

[729 rows x 1 columns]

> split data ok